<head>
  <title>{=$title}</title>
  <meta name="description" content="{=$title}" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.png" />

  <!-- Open Graph / Facebook -->
  <meta property="og:title" content="SweetAlert2" />
  <meta property="og:description" content="{=$title}" />
  <meta property="og:image" content="http://sweetalert2.github.io/images/sweetalert2-social.png" />
  <meta property="og:url" content="https://sweetalert2.github.io/" />

  <!-- Twitter -->
  <meta name="twitter:title" content="SweetAlert2" />
  <meta name="twitter:description" content="{=$title}" />
  <meta name="twitter:image" content="https://sweetalert2.github.io/images/sweetalert2-social.png" />
  <meta name="twitter:card" content="summary_large_image" />

  <link rel="icon" href="/images/favicon.png" />

  <!-- https://goo.gl/qRE0vM -->
  <meta name="theme-color" content="#f2f4f6" />

  <link rel="stylesheet" href="/styles/styles.scss" />

  <!-- Font Awesome icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4/animate.min.css" />

  <script src="https://tinylytics.app/embed/dnsqs6xaSU55V5P876-M.js" defer></script>
</head>
