$black: #000;
$white: #fff;
$transparent: rgba($black, 0);
$athens: #f2f4f6;
$salmon: #f77;
$emperor: #555;
$dovegray: #666;
$regentgray: #8d98a5;
$chateaugray: #a7adb2;
$curiousblue: #3085d6;
$porcelain: #e2e5e8;
$pear: #a6e22d;
$melrose: #c3bcff;
$spray: #66d9ef;
$chenin: #e6db74;
$armadillo: #49483e;
$cinnabar: #eb4c36;
$cornflowerblue: #2196f3;
$white-button: rgba($white, .8);
$pastel-green: #87d25f;
