@use 'sass:math';
@use '/node_modules/@docsearch/css/dist/style.css';
@use '/node_modules/highlight.js/styles/atom-one-dark.css';
@use './bootstrap4-buttons.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); // Source Code Pro font

$black: #000;
$white: #fff;
$transparent: rgba($black, 0);
$body-background: #f2f4f6;
$salmon: #f77;
$dovegray: #666;
$gallery: #eee;
$regentgray: #8d98a5;
$chateaugray: #a7adb2;
$porcelain: #e2e5e8;
$white-button: rgba($white, 0.8);
$pastel-green: #87d25f;
$fruit-salad: #4caf50;
$shark: #282c34;
$facebook: #425f9c;
$twitter: #1da1f3;
$bitcoin: #f2660f;
$ethereum: #2f3fd9;
$bitcoincash: #5ca930;
$stellar: #192786;

@mixin retina-background($url, $type: png) {
  background-image: image-set(url('/images/#{$url}.#{$type}') 1x, url('/images/#{$url}@2x.#{$type}') 2x);
  background-repeat: no-repeat;
  background-size: 100%;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  font-size: 1rem;
}

body {
  padding-bottom: 2em;
  background-color: $body-background !important;
  color: #555 !important;
  line-height: 1.5;
  text-align: center !important;

  @media all and (width <= 768px) {
    padding-bottom: 0;
  }
}

body,
input,
textarea,
select,
button {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  flex-direction: column;
  align-items: stretch;
  max-height: calc(100% - 4em);
  padding: 2em 0 2em 1em;
  transition: left 0.5s ease-in-out;

  @media all and (width <= 1260px) {
    display: none;
  }

  @media all and (width <= 1300px) {
    left: 0;
  }

  a {
    display: flex;
    margin-right: 15px;
    padding: 0.4em 1em;
    transition: border-left 0.5s;
    border-bottom: 1px solid $porcelain;
    border-left: 4px solid transparent;
    text-decoration: none !important;

    &::before {
      content: '›';
      margin-right: 1em;
    }

    &:hover {
      border-left: 4px solid #1f74b6;
    }

    &.recipe-gallery {
      color: #c712bb;

      &:hover {
        border-left: 4px solid #c712bb;
      }
    }

    span {
      flex-grow: 1;
      text-align: left;
    }
  }

  .theme-selector,
  .version-selector {
    margin: 2em 0 0 0.6em;
    font-size: 1.1em;
    text-align: left;
  }
}

#show-sidebar {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $body-background;
  font-size: 1.8em;
  cursor: pointer;

  @media all and (width <= 1260px) {
    display: flex;
  }
}

.sidebar {
  padding: 0 !important;

  .swal2-modal {
    background: $body-background;
  }

  .swal2-html-container {
    margin: 0 2em 0 0;
  }

  nav {
    display: block !important;
    position: initial;
    font-size: 16px;
    line-height: 1.5;
  }
}

header {
  max-width: 650px;
  margin: auto;

  .logo {
    margin: 0.5em;
    color: rgb(110, 74, 121);
    font-size: 5em;
    font-weight: bolder;
    line-height: 1em;
    text-align: center;
  }

  h1,
  h2 {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
  }
}

.popup-icons {
  td {
    width: 33%;
    text-align: center;
    vertical-align: middle;
  }

  .swal2-icon,
  button {
    display: flex;
    margin: 0 auto !important;
  }

  .swal2-success {
    &::before,
    &::after {
      background: transparent !important;
    }
  }
}

h3 {
  position: relative;
  margin-top: 3em;
  padding-top: 3em;
  color: $dovegray;
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 700px;
    height: 0.25em;
    margin-top: -2em;
    margin-left: -350px;
    border-radius: 0.125em;
    background-color: $porcelain;

    @media all and (width <= 768px) {
      right: 1.25em;
      left: 1.25em;
      width: auto;
      margin-left: 0;
    }
  }
}

a {
  color: #1f74b6;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  strong {
    text-decoration: underline !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

p {
  max-width: 826px;
  margin: 1.875em auto !important;
  font-size: 1.0625em;
  font-weight: 300;
  line-height: 1.5625em;
  text-align: left;

  &.center {
    text-align: center;
  }

  @media all and (width <= 768px) {
    padding: 0 0.625em;
    text-align: center;
  }
}

h4,
strong {
  display: inline-block;
  margin: 0;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #eaeaea;
  color: #b9316f;
  font-weight: 600;
}

.show-example-btn {
  $btn-blue: #7066e0;
  $btn-gray: #d0d0d0;

  padding: 0.9em 2.1875em;
  border: 0;
  border-radius: 0.1875em;
  background-color: $btn-blue;
  box-shadow: none;
  color: $white;
  font-size: 1.125em;
  font-weight: 500;
  white-space: nowrap;

  &:hover {
    background-color: darken($btn-blue, 3%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(115, 103, 240, 0.5);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:active {
    background-color: darken($btn-blue, 10%);
  }
}

.center-container {
  max-width: 725px;
  margin: 4.375em auto;
}

.code-label {
  margin: 1em 1.2em 0.2em;
}

pre {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  background: $shark;
  color: lighten($black, 97);
  font-size: 1.2em !important;
  line-height: 1.2;
  text-align: left;

  code {
    display: block;
    padding: 0.5em;
    border-radius: 0.3125em;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
  }

  .comment {
    color: $regentgray;

    a {
      color: $regentgray;
      text-decoration: underline;
    }
  }

  &.code-sample {
    &:hover {
      &::after {
        top: -2em;
        opacity: 1;
      }
    }

    &::after {
      content: 'Try it on CodePen';
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      align-items: center;
      width: 13em;
      height: 2em;
      padding-left: 0.8em;
      transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;
      opacity: 0;
      background: $black url('/images/codepen.svg') 11.6em 0.2em no-repeat;
      background-size: 1.6em;
      font-size: 0.8em;
      cursor: pointer;

      @media all and (width <= 768px) {
        display: none;
      }
    }
  }
}

kbd {
  padding: 0 0.125em;
  border: 1px solid $regentgray;
  border-radius: 0.1875em;
}

.showcase {
  display: inline-block;
  position: relative;
  width: 21.5em;
  max-width: 94%;
  margin-top: 1.5em;
  padding: 1em;
  background-color: $porcelain;
  vertical-align: top;

  &.normal {
    margin-right: 4px;

    button {
      margin: 27px;
      padding: 8px 16px;
      font-size: 1.1em;
    }
  }

  @media all and (width <= 768px) {
    padding: 0 0.625em 0.625em;

    &.normal,
    img {
      display: none;
    }
  }

  @media all and (width <= 360px) {
    width: 90%;
  }

  .normal-alert {
    margin: 0 auto;
    color: #896865;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.375em;
  }

  &.sweet {
    padding-top: 14px;

    button {
      margin: 8px auto 25px;
    }
  }

  button {
    margin: 2em auto;
  }

  .vs-icon {
    @include retina-background('vs_icon');

    position: absolute;
    z-index: 2;
    top: 3.75em;
    right: -2.125em;
    width: 4.3125em;
    height: 4.3125em;
  }
}

.examples {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
  text-align: left;

  @media all and (width <= 768px) {
    width: auto;
  }

  li {
    padding-left: 0;
    text-align: center;
  }

  .ui,
  pre {
    display: inline-block;
    vertical-align: top;

    @media all and (width <= 768px) {
      display: block;
      font-size: 0.9em;
    }
  }

  .ui {
    width: 300px;
    margin: 0 auto;
    text-align: center;

    p {
      margin-bottom: 0;
      padding: 0 2em;
      text-align: center;
    }
  }

  pre {
    width: 528px;
    margin-top: 2.5em;

    @media all and (width <= 768px) {
      margin-top: 1em !important;
      margin-bottom: 3.75em;
    }
  }
}

#multiple-inputs-example,
#mixin {
  pre {
    width: 550px;
  }
}

ol {
  max-width: 725px;
  margin: 4.375em auto;
  padding-left: 0;
  list-style-position: inside;

  li {
    color: $chateaugray;

    p {
      margin-bottom: 0.625em;
    }
  }
}

table {
  width: 725px;
  margin: 0.625em auto;
  border-collapse: collapse;
  text-align: left;

  @media all and (width <= 768px) {
    width: auto;
    margin: 0.625em auto;
  }

  th {
    position: relative;
    padding: 0.625em 1.25em;
    background-color: $white;
    color: $dovegray;
    font-weight: 400;
    white-space: nowrap;

    @media all and (width <= 360px) {
      padding: 0.625em 0.25em;
    }
  }

  td {
    padding: 0.625em 1.25em;
    vertical-align: top;

    .deprecated {
      color: #600;
    }
  }
}

#api {
  tr {
    td:first-child {
      position: relative;
    }
  }

  pre {
    max-width: 100%;
    margin: 0;
  }
}

.hover-anchor {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
}

tr:hover {
  .hover-anchor {
    display: block !important;
  }
}

.popup-icons,
.input-types {
  strong {
    color: #555;
  }

  @media all and (width <= 768px) {
    th,
    td {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.input-types {
  td {
    width: 33%;
    text-align: center;
    vertical-align: middle;
  }

  pre {
    width: 510px;
  }
}

.dismiss-reasons {
  @media all and (width <= 768px) {
    tr {
      display: flex;
      flex-direction: column;
      padding: 0.625em 1.25em;
    }

    th {
      display: none;
    }

    td {
      padding: 0;

      &:nth-child(3) {
        display: none;
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.nowrap {
  white-space: nowrap;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.mobile-hidden {
  @media all and (width <= 768px) {
    display: none !important;
  }
}

[title='GitHub stars'] {
  position: absolute;
  top: 10px;
  right: 5px;
}

.themes {
  margin-top: 0;

  h4 {
    margin: 2em 0 0.5em;
  }

  img {
    width: 534px;
    max-width: 95%;
  }
}

.frameworks-integrations,
.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 700px;
  max-width: 100%;
  margin: auto;
  font-size: 1.25em;

  div {
    flex: 1;
    margin: 1em 0;
  }

  a {
    display: inline-block;
    min-width: 6.875em;
    text-decoration: none;
  }

  img {
    width: 5em;
    height: 5em;
    margin-top: 0.625em;
  }
}

.sponsors {
  font-size: 1.25em;

  div {
    margin: 1em;
  }
}

.banners {
  img {
    transition: box-shadow 0.1s ease-out;
    border: 1px solid #ccc;
    border-radius: 0.3em;

    &:hover {
      border: 1px solid #aaa;
      box-shadow: 1px 1px 2px #ccc;
    }
  }
}

.cryptocurrency-qr-code {
  width: 200px;
  height: 200px;
  margin-top: 1em;
}

.bitcoin {
  color: $bitcoin;
}

.ethereum {
  color: $ethereum;
}

.bitcoincash {
  color: $bitcoincash;
}

.stellar {
  display: block;
  color: $stellar;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.8125em;
}

.unselectable {
  user-select: none;
}

// LOGO ANIMATION
$bouncing-logo-width: 5em;
$bouncing-logo-animation-duration: 2.5s;
$bouncing-logo-animation-delay: 2s;
$bouncing-logo-max-height: -60%;
$bouncing-logo-min-height: 35%;

@keyframes logo-bounce {
  0% {
    bottom: 0;
    animation-timing-function: ease-out;
  }

  20% {
    transform: translate3d(0, $bouncing-logo-max-height, 0);
    animation-timing-function: ease-in;
  }

  40% {
    transform: translate3d(0, $bouncing-logo-min-height, 0);
    animation-timing-function: ease-out;
  }

  60% {
    transform: translate3d(0, math.div($bouncing-logo-max-height, 2), 0);
    animation-timing-function: ease-in;
  }

  80% {
    transform: translate3d(0, $bouncing-logo-min-height, 0);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0, 0%, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-slide {
  from {
    visibility: visible;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    visibility: visible;
    transform: translate3d(0%, 0, 0);
  }
}

#logo-bouncer {
  display: inline-block;
  animation-name: logo-bounce;
  animation-duration: $bouncing-logo-animation-duration;
  animation-delay: $bouncing-logo-animation-delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#logo-spinner {
  animation-name: logo-spin;
  animation-duration: math.div($bouncing-logo-animation-duration, 2);
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;

  & svg {
    width: $bouncing-logo-width;
  }
}

#logo-slider {
  visibility: hidden;
  margin-top: 30px;
  animation-name: logo-slide;
  animation-duration: $bouncing-logo-animation-duration;
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes logo-animation-end-popup {
  to {
    visibility: visible;
  }
}

.hair {
  visibility: hidden;
  animation-name: logo-animation-end-popup;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay + $bouncing-logo-animation-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#logo-track {
  display: inline-block;
  visibility: hidden;
  max-width: 640px;
  animation-name: logo-animation-end-popup;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay + $bouncing-logo-animation-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  & img {
    height: $bouncing-logo-width;

    @media all and (width <= 768px) {
      width: 272px;
    }
  }
}

#logo-text {
  width: 28em;
  max-width: 95%;
}

.recipes-list {
  list-style: none;

  li {
    margin: 2em 0;
  }
}

.recipe-gallery-top-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin-right: 20em;
  }

  #docsearch {
    margin: 1em 0 !important;
  }
}

.emgithub-container {
  width: 800px;
  max-width: 90%;
  margin: 2em auto 4em !important;
  text-align: left;

  code {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 14px;

    table {
      display: block;
    }
  }
}

#slava-ukraini {
  margin-top: 6px;
  margin-left: 30px;
  font-size: 22px;
  font-weight: bold;

  @media all and (width <= 480px) {
    margin-top: 9px;
    margin-left: 35px;
    font-size: 16px;
  }

  a {
    color: #555;
    text-decoration: underline;
  }
}

#docsearch {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 2em !important;

  button {
    box-shadow: var(--docsearch-searchbox-shadow);
  }

  @media all and (width <= 768px) {
    position: fixed;
    z-index: 1;
    inset: auto 15px 13px auto;
    zoom: 1.2;

    button {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #f2f4f6;
      }
    }
  }
}

@media all and (width <= 750px) {
  // stylelint-disable-next-line
  .DocSearch-Container {
    position: fixed !important;
  }
}

.sp-wrapper {
  width: 760px !important;
  max-width: 95%;
  margin: 0 auto !important;
}

.sp-layout {
  flex-direction: column;
}

.sp-preview {
  width: 100% !important;
}

.sp-resize-handler {
  display: none !important;
}

.sp-h250 {
  flex-basis: 250px !important;
}

.sp-h300 {
  flex-basis: 300px !important;
}

.sp-h350 {
  flex-basis: 350px !important;
}

.sp-h400 {
  flex-basis: 400px !important;
}

.sp-h550 {
  flex-basis: 550px !important;
}

.sp-h600 {
  flex-basis: 600px !important;
}

.sp-h650 {
  flex-basis: 650px !important;
}
