body {
  > .bsa-cpc {
    display: none;
  }
}

.bsa-cpc {
  #_default_ { /* stylelint-disable-line selector-id-pattern */
    position: relative;
    padding: 0 1em;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }

  .default-ad {
    display: none;
  }

  ._default_ { /* stylelint-disable-line selector-class-pattern */
    display: inline;
    overflow: hidden;

    > * {
      vertical-align: middle;
    }
  }

  a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: $pastel-green;
      text-decoration: none;
    }
  }

  .default-image {
    display: none;
  }

  .default-title {
    position: relative;
    margin-left: 8px;

    &::before {
      content: 'Sponsor';
      position: relative;
      top: -1px;
      left: -8px;
      padding: 2px 5px;
      border: solid 1px $pastel-green;
      border-radius: 2px;
      color: $pastel-green;
      font-size: 10px;
      line-height: 1;
      text-transform: uppercase;
    }

    &::after {
      content: ' — ';
    }
  }

  .default-title,
  .default-description {
    display: inline;
  }
}
