@charset "UTF-8";
body > .bsa-cpc {
  display: none; }

.bsa-cpc #_default_ {
  position: relative;
  padding: 0 1em;
  font-size: 14px;
  line-height: 1.5;
  text-align: left; }

.bsa-cpc .default-ad {
  display: none; }

.bsa-cpc ._default_ {
  display: inline;
  overflow: hidden; }
  .bsa-cpc ._default_ > * {
    vertical-align: middle; }

.bsa-cpc a {
  color: inherit;
  font-weight: 500;
  text-decoration: none; }
  .bsa-cpc a:hover {
    color: #87d25f;
    text-decoration: none; }

.bsa-cpc .default-image {
  display: none; }

.bsa-cpc .default-title {
  position: relative;
  margin-left: 8px; }
  .bsa-cpc .default-title::before {
    content: 'Sponsor';
    position: relative;
    top: -1px;
    left: -8px;
    padding: 2px 5px;
    border: solid 1px #87d25f;
    border-radius: 2px;
    color: #87d25f;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase; }
  .bsa-cpc .default-title::after {
    content: ' — '; }

.bsa-cpc .default-title,
.bsa-cpc .default-description {
  display: inline; }
