.carbonads-wrapper {
  opacity: 1; }
  .carbonads-wrapper #carbonads {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
    overflow: hidden;
    border: solid 1px #8d98a5;
    border-radius: 2px;
    box-shadow: inset 0 1px #fff;
    font-size: 12px;
    line-height: 1.35;
    text-shadow: 0 1px #fff; }
    .carbonads-wrapper #carbonads a {
      transition: color .15s ease-in-out;
      color: #8d98a5; }
      .carbonads-wrapper #carbonads a:hover {
        color: #f77; }
    .carbonads-wrapper #carbonads span {
      display: block;
      position: relative;
      overflow: hidden; }
    .carbonads-wrapper #carbonads .carbon-img {
      margin-right: 1em;
      float: left; }
      .carbonads-wrapper #carbonads .carbon-img img {
        display: block; }
    .carbonads-wrapper #carbonads .carbon-text {
      display: block;
      max-width: calc(100% - 130px - 1em);
      margin-bottom: 20px;
      float: left;
      text-align: left; }
    .carbonads-wrapper #carbonads .carbon-poweredby {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 9px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1;
      text-transform: uppercase; }
  .carbonads-wrapper + .show-example-btn {
    margin-top: 2em; }
