@import 'colors';

.carbonads-wrapper {
  opacity: 1;

  > div {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 1em;
    max-width: 300px;
    border: solid 1px $regentgray;
    border-radius: 2px;
    box-shadow: inset 0 1px $white;
    text-shadow: 0 1px $white;
    font-size: 12px;
    line-height: 1.5;

    a {
      color: $regentgray;
      transition: color .15s ease-in-out;

      &:hover {
        color: $salmon;
      }
    }

    span {
      position: relative;
      display: block;
      overflow: hidden;
    }

    .carbon-img {
      float: left;
      margin-right: 1em;

      img {
        display: block;
      }
    }

    .carbon-text {
      display: block;
      float: left;
      max-width: calc(100% - 130px - 1em);
      text-align: left;
    }

    .carbon-poweredby {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      font-size: 11px;
    }
  }

  .bsa-cpc {
    display: none;
  }
}

.bsa-cpc {
  #_default_ {
    position: relative;
    padding: 0 1em;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
  }

  .default-ad {
    display: none;
  }

  ._default_ {
    display: inline;
    overflow: hidden;
    line-height: 1;

    > * {
      vertical-align: middle;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $pastel-green;
      text-decoration: none;
    }
  }

  .default-image {
    display: none;
  }

  .default-title {
    position: relative;
    margin-left: 8px;

    &::before {
      position: relative;
      top: -1px;
      left: -8px;
      padding: 2px 5px;
      border: solid 1px $pastel-green;
      border-radius: 2px;
      color: $pastel-green;
      content: 'Sponsor';
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1;
    }

    &::after {
      content: ' — ';
    }
  }

  .default-title,
  .default-description {
    display: inline;
  }
}
