@import 'colors';

#codefund_ad {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;

  #cf_ad {
    max-width: 100%;

    .cf-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background-color: $gallery;
      font-family: inherit;

      @media all and (max-width: 46.875rem) {
        flex-direction: column;
      }
    }


    .cf-img-wrapper {
      display: flex;
      align-items: center;

      &::before {
        margin: 0 .5em;
        padding: .2em .6em;
        color: $white;
        background-color: $fruit-salad;
        border-radius: .3em;
        content: 'Supporter';
      }
    }

    .cf-img {
      margin: .5em 0;
      width: auto;
      height: 2em;
    }

    .cf-text {
      text-decoration: none;
    }

    .cf-powered-by {
      margin-left: .5em;
    }
  }
}

@media all and (max-width: 46.875rem) {
  #codefund_ad {
    position: initial;
  }
}
