$black: #000;
$white: #fff;
$transparent: rgba($black, 0);
$athens: #f2f4f6;
$salmon: #f77;
$emperor: #555;
$dovegray: #666;
$gallery: #eee;
$regentgray: #8d98a5;
$chateaugray: #a7adb2;
$curiousblue: #3085d6;
$porcelain: #e2e5e8;
$cinnabar: #eb4c36;
$cornflowerblue: #2196f3;
$white-button: rgba($white, .8);
$pastel-green: #87d25f;
$fruit-salad: #4caf50;
$shark: #282c34;
$facebook: #425f9c;
$twitter: #1da1f3;
$red: #f00;