#native-js-footer .native-fixed {
  display: flex;
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #111;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
  #native-js-footer .native-fixed .native-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    color: #eee;
    text-decoration: none; }
  #native-js-footer .native-fixed .native-sponsor {
    margin-right: 1em;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase; }
  #native-js-footer .native-fixed .native-text {
    font-size: 14px;
    line-height: 1.3; }
