@import 'colors';

.native-js {
  display: flex;
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  opacity: 0;
  background: $shark;
  font-size: 14px;

  &[data-state='visible'] {
    visibility: visible;
    opacity: 1;
  }
}

.native-flex {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px 0;
  color: $white;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  @media all and (max-width: 768px) {
    flex-direction: column;
  }
}

.native-sponsor {
  top: -1px;
  margin-right: 5px;
  padding: 2px 4px;
  border: solid 1px $white;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.native-img {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;

  img {
    height: 27px;
  }
}

.native-desc {
  margin: 0 10px;
}

.native-cta {
  top: 1px;
  border-bottom: solid 2px $white;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
}

.native-close {
  padding: 10px;
  color: $white;
  cursor: pointer;
}
