@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'); // Open Sans font
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); // Source Code Pro font

@import 'colors';

@mixin retina-background($url, $type: png) {
  background-image: image-set(url('/images/#{$url}.#{$type}') 1x, url('/images/#{$url}@2x.#{$type}') 2x);
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  font-size: 1rem;
}

body {
  background-color: $athens;
  text-align: center;
  color: $emperor;
  padding-bottom: 2em;
  @media all and (max-width: 768px) {
    padding-bottom: 0;
  }
}

body,
input,
textarea,
select {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  position: fixed;
  top: 2em;
  left: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: left .5s ease-in-out;
  z-index: 1;

  @media all and (max-width: 1150px) {
    display: none;
  }

  @media all and (max-width: 1200px) {
    left: 0;
  }

  [href*='#'] {
    display: flex;
    padding: .4em 1em;
    text-decoration: none !important;
    border-bottom: 1px solid $porcelain;
    opacity: .7;

    &::before {
      content: '›';
      margin-right: 1em;
    }

    &:hover {
      opacity: 1;
    }

    span {
      flex-grow: 1;
      text-align: left;
    }
  }

  .share-the-love {
    margin: 2em 0 0 .6em;
    text-align: left;
    font-size: 1.1em;

    .fa-heart-o {
      color: $cinnabar;
    }

    .social-buttons {
      display: flex;
      align-items: center;
      margin-top: .2em;

      a {
        text-decoration: none;
        display: inline-block;
        width: 1.2em;
      }

      .facebook-button {
        color: $facebook;
      }

      .twitter-button {
        color: $twitter;
      }

      > * {
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .theme-selector,
  .version-selector {
    margin: 2em 0 0 .6em;
    text-align: left;
    font-size: 1.1em;
  }
}

header {
  max-width: 40.625rem;
  margin: auto;

  .logo {
    margin: 2em 0 1em;
    max-width: 90%;
  }

  h1,
  h2 {
    font-size: 1.25em;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    display: block;

    a {
      color: $curiousblue;
    }
  }
}

.popup-types {
  td {
    vertical-align: middle;
    text-align: center;
    width: 33%;
  }

  .swal2-icon,
  button {
    display: flex;
    margin: 0 auto !important;
  }

  .swal2-success {
    &::before,
    &::after {
      background: transparent !important;
    }
  }
}

h3 {
  font-size: 1.75em;
  color: $dovegray;
  text-transform: uppercase;
  margin-top: 6em;
  text-align: center;
  position: relative;

  &::before {
    content: '';
    background-color: $porcelain;
    height: .25em;
    width: 43.75rem;
    left: 50%;
    margin-left: -21.875rem;
    position: absolute;
    margin-top: -2em;
    border-radius: .125em;

    @media all and (max-width: 768px) {
      width: auto;
      left: 1.25em;
      right: 1.25em;
      margin-left: 0;
    }
  }
}

a {
  text-decoration: none;
  color: $cornflowerblue;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

p {
  max-width: 51.625rem;
  margin: 1.875em auto;
  font-size: 1.0625em;
  font-weight: 300;
  line-height: 1.5625em;
  text-align: left;

  &.center {
    text-align: center;
  }

  strong {
    font-weight: 600;
  }

  @media all and (max-width: 768px) {
    text-align: center;
    padding: 0 .625em;
  }
}

button,
.button {
  $btn-blue: #3085d6;
  $btn-gray: #d0d0d0;

  background-color: $btn-blue;
  color: $white;
  border: 0;
  box-shadow: none;
  font-size: 1.125em;
  font-weight: 500;
  border-radius: .1875em;
  padding: .9em 2.1875em;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: darken($btn-blue, 3%);
  }

  &:focus {
    &:not(.swal2-close) {
      &:not(.btn) {
        box-shadow: 0 0 0 .125em $athens, 0 0 0 .25em $chateaugray;
        outline: none;
      }
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:active {
    background-color: darken($btn-blue, 10%);
  }

  &.cancel {
    background-color: $btn-gray;

    &:hover {
      background-color: darken($btn-gray, 3%);
    }

    &:active {
      background-color: darken($btn-gray, 10%);
    }
  }
}

.center-container {
  max-width: 45.3125rem;
  margin: 4.375em auto;
}

pre {
  color: lighten($black, 97);
  background: $shark;
  text-align: left;
  position: relative;
  line-height: 1.2;

  code {
    font-family: 'Source Code Pro', monospace;
    font-size: .8em;
    display: block;
    padding: .5em;
    border-radius: .3125em;
  }

  .comment {
    color: $regentgray;

    a {
      color: $regentgray;
      text-decoration: underline;
    }
  }

  &.code-sample {
    &:hover {
      &::after {
        opacity: 1;
        top: -2em;
      }
    }

    &::after {
      content: 'Try it on CodePen';
      position: absolute;
      display: flex;
      width: 13em;
      height: 2em;
      align-items: center;
      top: 0;
      right: .5em;
      padding-left: .8em;
      opacity: 0;
      background: $black url('/images/codepen.svg') 11.6em .2em no-repeat;
      background-size: 1.6em;
      cursor: pointer;
      transition: top .2s ease-in-out, opacity .2s ease-in-out;

      @media all and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.swal2-content {
  code {
    text-align: center;
  }
}

kbd {
  border: 1px solid $regentgray;
  border-radius: .1875em;
  padding: 0 .125em;
}

.showcase {
  background-color: $porcelain;
  margin-top: .9em;
  padding: 1.25em;
  display: inline-block;
  width: 23.9375em;
  vertical-align: top;
  position: relative;

  @media all and (max-width: 768px) {
    padding: 0 .625em;

    &.normal,
    img {
      display: none;
    }
  }
  @media all and (max-width: 360px) {
    width: 90%;
  }

  h4 {
    font-size: 1em;
    color: lighten($black, 70);
    line-height: 1.375em;
    margin: 0 auto;
    font-weight: 800;
  }

  &.sweet {
    padding-top: .875em;

    button {
      margin-top: .8125em;
    }
  }

  button {
    margin: 1.25em;
  }

  .vs-icon {
    @include retina-background('vs_icon');
    width: 4.3125em;
    height: 4.3125em;
    position: absolute;
    right: -2.125em;
    top: 3.75em;
    z-index: 2;

    @media all and (max-width: 768px) {
      margin: .3125em auto;
      right: auto;
      left: 50%;
      margin-left: -2.1875em;
      top: auto;
      bottom: -2.1875em;
    }
  }
}


.examples {
  list-style-type: none;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
  padding-left: 0;
  @media all and (max-width: 768px) {
    width: auto;
  }

  li {
    padding-left: 0;
  }

  .ui,
  pre {
    display: inline-block;
    vertical-align: top;

    @media all and (max-width: 768px) {
      display: block;
      max-width: none;
      margin: 0 auto;
      font-size: .8em;
    }
  }

  .ui {
    width: 18.75rem;
    text-align: center;

    button {
      margin-top: .75em;
    }

    p {
      text-align: center;
      margin-bottom: 0;
      padding: 0 2em;
    }
  }

  pre {
    width: 528px;
    max-width: 100%;
    margin-top: 2.5em;

    @media all and (max-width: 768px) {
      margin-top: 1em !important;
      margin-bottom: 3.75em;
    }
  }
}


ol {
  max-width: 45.3125rem;
  margin: 4.375em auto;
  list-style-position: inside;
  padding-left: 0;

  li {
    color: $chateaugray;

    p {
      margin-bottom: .625em;
    }
  }
}


table {
  width: 45.3125rem;
  margin: .625em auto;
  text-align: left;
  border-collapse: collapse;
  @media all and (max-width: 768px) {
    width: auto;
    margin: .625em auto;
  }

  th {
    background-color: $white;
    padding: .625em 1.25em;
    color: $dovegray;
    font-weight: 400;
    position: relative;
    white-space: nowrap;

    @media all and (max-width: 360px) {
      padding: .625em .25em;
    }
  }

  td {
    padding: .625em 1.25em;
    vertical-align: top;

    @media all and (max-width: 360px) {
      padding: .625em .25em;

      b {
        font-size: .8125em;
      }
    }
  }
}

.popup-types,
.input-types {
  @media all and (max-width: 768px) {
    th,
    td {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.input-types {
  td {
    vertical-align: middle;
    text-align: center;
    width: 33%;
  }
}

.dismiss-reasons {
  @media all and (max-width: 768px) {
    tr {
      display: flex;
      flex-direction: column;
      padding: .625em 1.25em;
    }

    th {
      display: none;
    }

    td {
      padding: 0;

      &:nth-child(3) {
        display: none;
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.nowrap {
  white-space: nowrap;
}

.mobile-hidden {
  @media all and (max-width: 768px) {
    display: none;
  }
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
}

.carbonads-wrapper {
  height: 126px;
  opacity: 0;
}

.native-js {
  display: none;
}

.frameworks-integrations,
.donation-options,
.collaborators,
.backers {
  max-width: 43.75rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.25em;

  a {
    display: inline-block;
    min-width: 6.875em;
    text-decoration: none;
  }

  img {
    width: 5em;
    height: 5em;
    margin-top: .625em;
  }
}

.collaborators {
  font-size: .8125em;
}

.backers {
  font-size: 1.25em;
}

.hall-of-donators {
  display: inline-block;
  font-size: 1.2em;
  margin: 2em auto 0;
}

.cryptocurrency-qr-code {
  width: 200px;
  height: 200px;
  margin-top: 1em;
}

.bitcoin {
  color: $bitcoin;
}

.ethereum {
  color: $ethereum;
}

.bitcoincash {
  color: $bitcoincash;
}

.stats {
  font-size: .8125em;
  opacity: 0;
  margin-top: .4375em;
}

.unselectable {
  user-select: none;
}
