@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'); // Open Sans font
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); // Source Code Pro font
@import url('https://fonts.googleapis.com/css?family=Montserrat'); // Montserrat (for logo)
@import 'colors';

@mixin retina-background($url, $type: png) {
  background-image: image-set(url('/images/#{$url}.#{$type}') 1x, url('/images/#{$url}@2x.#{$type}') 2x);
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  font-size: 1rem;
}

body {
  padding-bottom: 2em;
  background-color: $athens;
  color: $emperor;
  text-align: center;

  @media all and (max-width: 768px) {
    padding-bottom: 0;
  }
}

body,
input,
textarea,
select {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 2em;
  left: 1em;
  flex-direction: column;
  align-items: stretch;
  transition: left .5s ease-in-out;

  @media all and (max-width: 1150px) {
    display: none;
  }

  @media all and (max-width: 1200px) {
    left: 0;
  }

  [href*='#'] {
    display: flex;
    padding: .4em 1em;
    border-bottom: 1px solid $porcelain;
    opacity: .7;
    text-decoration: none !important;

    &::before {
      content: '›';
      margin-right: 1em;
    }

    &:hover {
      opacity: 1;
    }

    span {
      flex-grow: 1;
      text-align: left;
    }
  }

  .share-the-love {
    margin: 2em 0 0 .6em;
    font-size: 1.1em;
    text-align: left;

    .fa-heart-o {
      color: $cinnabar;
    }

    .social-buttons {
      display: flex;
      align-items: center;
      margin-top: .2em;

      a {
        display: inline-block;
        width: 1.2em;
        text-decoration: none;
      }

      .facebook-button {
        color: $facebook;
      }

      .twitter-button {
        color: $twitter;
      }

      > * {
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .theme-selector,
  .version-selector {
    margin: 2em 0 0 .6em;
    font-size: 1.1em;
    text-align: left;
  }
}

header {
  max-width: 40.625rem;
  margin: auto;

  .logo {
    margin: 0.5em;
    color: rgb(110, 74, 121);
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    font-weight: bolder;
    line-height: 1em;
    text-align: center;
  }

  h1,
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $curiousblue;
    }
  }
}

.popup-icons {
  td {
    width: 33%;
    text-align: center;
    vertical-align: middle;
  }

  .swal2-icon,
  button {
    display: flex;
    margin: 0 auto !important;
  }

  .swal2-success {
    &::before,
    &::after {
      background: transparent !important;
    }
  }
}

h3 {
  position: relative;
  margin-top: 6em;
  color: $dovegray;
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 43.75rem;
    height: .25em;
    margin-top: -2em;
    margin-left: -21.875rem;
    border-radius: .125em;
    background-color: $porcelain;

    @media all and (max-width: 768px) {
      right: 1.25em;
      left: 1.25em;
      width: auto;
      margin-left: 0;
    }
  }
}

a {
  color: $cornflowerblue;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

p {
  max-width: 51.625rem;
  margin: 1.875em auto;
  font-size: 1.0625em;
  font-weight: 300;
  line-height: 1.5625em;
  text-align: left;

  &.center {
    text-align: center;
  }

  strong {
    font-weight: 600;
  }

  @media all and (max-width: 768px) {
    padding: 0 .625em;
    text-align: center;
  }
}

.show-example-btn {
  $btn-blue: #3085d6;
  $btn-gray: #d0d0d0;

  padding: .9em 2.1875em;
  border: 0;
  border-radius: .1875em;
  background-color: $btn-blue;
  box-shadow: none;
  color: $white;
  font-size: 1.125em;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: darken($btn-blue, 3%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 .125em $athens, 0 0 0 .25em $chateaugray;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:active {
    background-color: darken($btn-blue, 10%);
  }
}

.center-container {
  max-width: 45.3125rem;
  margin: 4.375em auto;
}

pre {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  background: $shark;
  color: lighten($black, 97);
  font-size: 1.2em;
  line-height: 1.2;
  text-align: left;

  code {
    display: block;
    padding: .5em;
    overflow: hidden !important;
    border-radius: .3125em;
    font-family: 'Source Code Pro', monospace;
    font-size: .8em;
  }

  .comment {
    color: $regentgray;

    a {
      color: $regentgray;
      text-decoration: underline;
    }
  }

  &.code-sample {
    &:hover {
      &::after {
        top: -2em;
        opacity: 1;
      }
    }

    &::after {
      content: 'Try it on CodePen';
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      align-items: center;
      width: 13em;
      height: 2em;
      padding-left: .8em;
      transition: top .2s ease-in-out, opacity .2s ease-in-out;
      opacity: 0;
      background: $black url('/images/codepen.svg') 11.6em .2em no-repeat;
      background-size: 1.6em;
      font-size: .8em;
      cursor: pointer;

      @media all and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.swal2-content {
  code {
    text-align: center;
  }
}

kbd {
  padding: 0 .125em;
  border: 1px solid $regentgray;
  border-radius: .1875em;
}

.showcase {
  display: inline-block;
  position: relative;
  width: 23.9375em;
  max-width: 94%;
  margin-top: .9em;
  padding: 1.25em;
  background-color: $porcelain;
  vertical-align: top;

  @media all and (max-width: 768px) {
    padding: 0 .625em .625em;

    &.normal,
    img {
      display: none;
    }
  }

  @media all and (max-width: 360px) {
    width: 90%;
  }

  h4 {
    margin: 0 auto;
    color: lighten($black, 70);
    font-size: 1em;
    font-weight: 800;
    line-height: 1.375em;
  }

  &.sweet {
    padding-top: .875em;

    button {
      margin-top: .8125em;
    }
  }

  button {
    margin: 1.25em;
  }

  .vs-icon {
    @include retina-background('vs_icon');

    position: absolute;
    z-index: 2;
    top: 3.75em;
    right: -2.125em;
    width: 4.3125em;
    height: 4.3125em;

    @media all and (max-width: 768px) {
      top: auto;
      right: auto;
      bottom: -2.1875em;
      left: 50%;
      margin: .3125em auto;
      margin-left: -2.1875em;
    }
  }
}

.examples {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
  text-align: left;

  @media all and (max-width: 768px) {
    width: auto;
  }

  li {
    padding-left: 0;
  }

  .ui,
  pre {
    display: inline-block;
    vertical-align: top;

    @media all and (max-width: 768px) {
      display: block;
      font-size: .9em;
    }
  }

  .ui {
    width: 18.75rem;
    margin: 0 auto;
    text-align: center;

    button {
      margin-top: .75em;
    }

    p {
      margin-bottom: 0;
      padding: 0 2em;
      text-align: center;
    }
  }

  pre {
    width: 528px;
    margin-top: 2.5em;

    @media all and (max-width: 768px) {
      margin-top: 1em !important;
      margin-bottom: 3.75em;
    }
  }
}

ol {
  max-width: 45.3125rem;
  margin: 4.375em auto;
  padding-left: 0;
  list-style-position: inside;

  li {
    color: $chateaugray;

    p {
      margin-bottom: .625em;
    }
  }
}

table {
  width: 45.3125rem;
  margin: .625em auto;
  border-collapse: collapse;
  text-align: left;

  @media all and (max-width: 768px) {
    width: auto;
    margin: .625em auto;
  }

  th {
    position: relative;
    padding: .625em 1.25em;
    background-color: $white;
    color: $dovegray;
    font-weight: 400;
    white-space: nowrap;

    @media all and (max-width: 360px) {
      padding: .625em .25em;
    }
  }

  td {
    padding: .625em 1.25em;
    vertical-align: top;

    @media all and (max-width: 360px) {
      padding: .625em .25em;

      b {
        font-size: .8125em;
      }
    }
  }
}

#api {
  pre {
    max-width: 100%;
    margin: 0;
  }
}

.popup-icons,
.input-types {
  @media all and (max-width: 768px) {
    th,
    td {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.input-types {
  td {
    width: 33%;
    text-align: center;
    vertical-align: middle;
  }

  pre {
    width: 510px;
  }
}

.dismiss-reasons {
  @media all and (max-width: 768px) {
    tr {
      display: flex;
      flex-direction: column;
      padding: .625em 1.25em;
    }

    th {
      display: none;
    }

    td {
      padding: 0;

      &:nth-child(3) {
        display: none;
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.nowrap {
  white-space: nowrap;
}

.mobile-hidden {
  @media all and (max-width: 768px) {
    display: none;
  }
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
}

.carbonads-wrapper {
  height: 126px;
  opacity: 0;
}

.native-js {
  display: none;
}

.frameworks-integrations,
.donation-options,
.collaborators,
.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; // IE11
  justify-content: space-evenly;
  max-width: 43.75rem;
  margin: auto;
  font-size: 1.25em;

  div {
    margin: 1em 0;
  }

  a {
    display: inline-block;
    min-width: 6.875em;
    text-decoration: none;
  }

  img {
    width: 5em;
    height: 5em;
    margin-top: .625em;
  }
}

.collaborators {
  font-size: .8125em;
}

.sponsors {
  font-size: 1.25em;
}

.banners {
  img {
    transition: box-shadow .1s ease-out;
    border: 1px solid #ccc;
    border-radius: .3em;

    &:hover {
      border: 1px solid #aaa;
      box-shadow: 1px 1px 2px #ccc;
    }
  }
}

.hall-of-donators {
  display: inline-block;
  margin: 2em auto 0;
  font-size: 1.2em;
}

.cryptocurrency-qr-code {
  width: 200px;
  height: 200px;
  margin-top: 1em;
}

.bitcoin {
  color: $bitcoin;
}

.ethereum {
  color: $ethereum;
}

.bitcoincash {
  color: $bitcoincash;
}

.stats {
  margin-top: .4375em;
  opacity: 0;
  font-size: .8125em;
}

.unselectable {
  user-select: none;
}

// LOGO ANIMATION
$bouncing-logo-width: 5em;
$bouncing-logo-animation-duration: 2.5s;
$bouncing-logo-animation-delay: 2s;
$bouncing-logo-max-height: -60%;
$bouncing-logo-min-height: 35%;

@keyframes logo-bounce {
  from {
    bottom: 0;
    animation-timing-function: ease-out;
  }

  20% {
    transform: translate3d(0, $bouncing-logo-max-height, 0);
    animation-timing-function: ease-in;
  }

  40% {
    transform: translate3d(0, $bouncing-logo-min-height, 0);
    animation-timing-function: ease-out;
  }

  60% {
    transform: translate3d(0, $bouncing-logo-max-height / 2, 0);
    animation-timing-function: ease-in;
  }

  80% {
    transform: translate3d(0, $bouncing-logo-min-height, 0);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0, 0%, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-slide {
  from {
    visibility: visible;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    visibility: visible;
    transform: translate3d(0%, 0, 0);
  }
}

#logo-bouncer {
  display: inline-block;
  animation-name: logo-bounce;
  animation-duration: $bouncing-logo-animation-duration;
  animation-delay: $bouncing-logo-animation-delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#logo-spinner {
  animation-name: logo-spin;
  animation-duration: $bouncing-logo-animation-duration / 2;
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;

  & svg {
    width: $bouncing-logo-width;
  }
}

#logo-slider {
  visibility: hidden;
  margin-top: 10%;
  animation-name: logo-slide;
  animation-duration: $bouncing-logo-animation-duration;
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes logo-animation-end-popup {
  to {
    visibility: visible;
  }
}

.hair {
  visibility: hidden;
  animation-name: logo-animation-end-popup;
  animation-duration: .1s;
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay + $bouncing-logo-animation-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#logo-track {
  display: inline-block;
  visibility: hidden;
  max-width: 40rem;
  animation-name: logo-animation-end-popup;
  animation-duration: .1s;
  animation-timing-function: linear;
  animation-delay: $bouncing-logo-animation-delay + $bouncing-logo-animation-duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  & img {
    height: $bouncing-logo-width;

    @media all and (max-width: 768px) {
      width: 17rem;
    }
  }
}

#logo-text {
  width: 28em;
  max-width: 95%;
}
